:root {
	--overlay-hsl: 339, 60%, 60%;
	--overlay: hsla(var(--overlay-hsl), 0.2);
	--sl-color-bg-nav: #0002;
	--sl-color-bg-sidebar: #0002;
}

:root[data-theme="light"] {
	--overlay-hsl: 339, 85%, 65%;
}
:root {
	--sl-color-accent-low: #430e15;
	--sl-color-accent: #c5003a;
	--sl-color-accent-high: #ff4c6d;
	--sl-color-white: #ffffff;
	--sl-color-gray-1: #eeeded;
	--sl-color-gray-2: #c3c1c1;
	--sl-color-gray-3: #8d8b8a;
	--sl-color-gray-4: #5a5757;
	--sl-color-gray-5: #3a3837;
	--sl-color-gray-6: #282626;
}
:root[data-theme="dark"] {
	--sl-color-black: #111;
	--sl-color-bg: #111;
	--sl-color-text-invert: #fff;
}
:root[data-theme="light"] {
	--sl-color-accent-low: #fdc7c8;
	--sl-color-accent: #c9003b;
	--sl-color-accent-high: #62051a;
	--sl-color-white: #191818;
	--sl-color-gray-1: #282626;
	--sl-color-gray-2: #3a3837;
	--sl-color-gray-3: #5a5757;
	--sl-color-gray-4: #8d8b8a;
	--sl-color-gray-5: #c3c1c1;
	--sl-color-gray-6: #eeeded;
	--sl-color-gray-7: #f7f6f6;
	--sl-color-black: #ffffff;
}

[data-has-hero] .page {
	background: linear-gradient(215deg, var(--overlay), transparent 40%),
		radial-gradient(var(--overlay), transparent 40%) no-repeat -60vw -40vh / 105vw 200vh,
		radial-gradient(var(--overlay), transparent 65%) no-repeat 50% calc(100% + 20rem) / 60rem 30rem;
}
